<div class="card bg-light border-0 shadow-sm text-center mb-4 rounded-4 overflow-hidden">
  <div class="card-body p-3 bg-white">
    <!-- This block serves as the placeholder wrapper where Google AdSense script operates -->
    <div class="ad-placeholder d-flex justify-content-center align-items-center bg-light rounded-3 border"
      style="height: 100px; border-style: dashed !important;">
      <span class="text-secondary fw-semibold opacity-75"><i class="bi bi-megaphone-fill me-2"></i>Advertisement [{{
        adSlotId() }}]</span>
    </div>

  </div>
</div>